<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIL</title>
    <meta name="description" content="環境について考える">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stoyle.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    

</head>

<body>
<header>
    <h1>
        <a href="http://127.0.0.1:5004/" class="header-text">NIL</a>
    </h1>
    <nav class="pc-nav">
        <ul>
            <li><a href="{{ url_for('news') }}">NEWS</a></li>
            <li><a href="#">COMPANY</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
</header>





<main>
    <div class="news-content">
        <h2>NEWS</h2>
    </div>

    <div class="news-space">
        <div class="news-date">
            <p>20240801</p>
        </div>
        <div class="news_box">
            <a href="" class="news_text">第9回 オートモーティブ・ソフトウェア・フロンティア 2024 にて講演を行いました。</a>    
        </div>
        <div class="news-date">
            <p>20240801</p>
        </div>
        <div class="news_box">
            <a href="" class="news_text">Cyclo.Req V1.3.4 をリリースしました．
            </a>    
        </div>
        <div class="news-date">
            <p>20240801</p>
        </div>
        <div class="news_box">
            <a href="" class="news_text">FAST-zero 2023 （金沢）にて講演を行いました。</a>    
        </div>
        <div class="news-date">
            <p>20240801</p>
        </div>
        <div class="news_box">
            <a href="" class="news_text">2023年 自動車技術会・春季大会にて講演を行いました。</a>    
        </div>
        <div class="news-date">
            <p>20240801</p>
        </div>
        <div class="news_box">
            <a href="" class="news_text">Cyclo V2 をリリースしました。</a>    
        </div>
        <div class="news-date">
            <p>20240801</p>
        </div>
        <div class="news_box">
            <a href="" class="news_text">「生活世界における自律走行車と倫理」(A1-2)にて講演を行いました。</a>    
        </div>
        <div class="news-date">
            <p>20240801</p>
        </div>
        <div class="news_box">
            <a href="" class="news_text">	自動車技術会秋季大会にて発表を行いました。</a>    
        </div>
        

    </div>

</main>




</body>